// =========================================================
// Reset
// =========================================================
@import "normalize.css/normalize";

// =========================================================
// Utilities
// =========================================================
@import 'imports';

// =========================================================
// Base style
// =========================================================
@import 'bases/fonts';
@import 'bases/common';
@import 'bases/icons';
@import 'bases/form';

// =========================================================
// Component style
// =========================================================
@import 'components/magento';
@import 'components/catalog';

// =========================================================
// Layout style
// =========================================================

@import 'layout/global';
@import 'layout/header';
@import 'layout/footer';


// =========================================================
// Vendor style
// =========================================================



