body {
    font-family: $ff-text;
    @include rem(font-size, 14px);
    color: $c-text;
    background-color: $bg-body;
}

*:focus {
    outline: 0;
}

h1,
h2,
h3,
h4,
h4,
h6 {
    font-family: $ff-titles;
}

.container {
    @include container();
}

.action.skip {
    &.contentarea {
        background-color: $c-primary;
        color: $c-white;
        text-decoration: none;
        @include rem(left, 15px);
        @include rem(top, 15px);
        @include rem(padding, 10px 15px);
        position: absolute;
        transform: scale(0);
        transition: transform 0.3s;

        &:focus {
            transform: scale(1);
        }
    }
}

.title-xxs {
    font-family: $ff-titles;
    letter-spacing: 1.2px;
    @include rem(font-size, 12px);
    text-transform: uppercase;
    color: $c-black;
    font-weight: 700;
    line-height: 1;
}


.btn-primary {
    background-color: $c-primary;
    color: $c-white;
    font-family: $ff-titles;
    @include rem(font-size, 14px);
    @include rem(padding, 13px);
    text-transform: uppercase;
    letter-spacing: 1.2px;
    display: block;
    text-align: center;
}

