// =========================================================
// Magento widgets style
// =========================================================

@import "magento/modal";
@import "magento/switcher";
