//DO NOTE EDIT THIS FILE (GENERATED)
$icon-angle-down: "\EA01";
$icon-angle-left: "\EA02";
$icon-angle-right: "\EA03";
$icon-angle-up: "\EA04";
$icon-close: "\EA05";
$icon-delete: "\EA06";
$icon-edit: "\EA07";
$icon-linkedin: "\EA08";
$icon-search: "\EA09";
$icon-shop: "\EA0A";
$icon-twitter: "\EA0B";
$icon-youtube: "\EA0C";
